{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block title %} Transaction Report{% endblock %}

{% block body %}

<div class="w-4/5 mx-auto mt-4 mb-8">
    <!-- Flash message -->
    {% if messages %}
    <div 
        id="flash-message" 
        class="bg-white border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" 
        role="alert"
    >
        <span class="block sm:inline">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </span>
        <span 
            id="close-flash" 
            class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer"
        >
            <svg 
                class="fill-current h-6 w-6 text-green-500" 
                role="button" 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 20 20"
            >
                <title>Close</title>
                <path d="M14.348 5.652a.5.5 0 10-.707-.707L10 8.293 6.36 4.652a.5.5 0 00-.707.707l3.64 3.64-3.64 3.641a.5.5 0 10.707.707L10 9.707l3.641 3.641a.5.5 0 10.707-.707l-3.64-3.641 3.64-3.64z"/>
            </svg>
        </span>
    </div>
    {% endif %}

    <!-- Transaction Report Div -->
    <div class="p-8 bg-white shadow-md rounded-lg">
        <div>
            <h1 class="font-bold text-3xl text-center">Transaction Report</h1>
        </div>
      
        <hr class="mt-4"/>
        <form method="get" action="{% url 'transaction_report' %}">
            <div class="flex justify-center">
                <div
                    class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12 mx-2"
                >
                    <label for="start_date">From:</label>
                    <input
                        class="appearance-none w-full outline-none focus:outline-none active:outline-none"
                        type="date"
                        id="start_date"
                        name="start_date"
                    />
                </div>

                <div
                    class="mt-10 pl-3 pr-2 bg-white border rounded-md border-gray-500 flex justify-between items-center relative w-4/12"
                >
                    <label for="end_date">To:</label>
                    <input
                        class="appearance-none w-full outline-none focus:outline-none active:outline-none"
                        type="date"
                        id="end_date"
                        name="end_date"
                    />
                </div>
                <div class="mt-10 pl-3 pr-2 flex justify-between items-center relative w-4/12">
                    <button
                        class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit"
                    >
                        Filter
                    </button>
                </div>
            </div>
        </form>
        <table
            class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500"
        >
            <thead class="bg-purple-900 text-white text-left">
                <tr
                    class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold"
                >
                    <th class="px-4 py-2">Date</th>
                    <th class="px-4 py-2">Transaction Type</th>
                    <th class="px-4 py-2">Amount</th>
                    <th class="px-4 py-2">Balance After Transaction</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in object_list %}
                <tr class="border-b dark:border-neutral-500">
                    <td class="px-4 py-2">
                        {{ transaction.timestamp|date:"F d, Y h:i A" }}
                    </td>
                    <td class="px-4 py-3 text-s border">
                        <span
                            class="px-2 py-1 font-bold leading-tight rounded-sm {% if transaction.get_transaction_type_display == 'Withdrawal' %} text-red-700 bg-red-100 {% else %} text-green-700 bg-green-100 {% endif %}"
                        >
                            {{ transaction.get_transaction_type_display }}
                        </span>
                    </td>
                    <td class="px-4 py-2">
                        $ {{ transaction.amount|floatformat:2|intcomma }}
                    </td>
                    <td class="px-4 py-2">
                        $ {{ transaction.balance_after_transaction|floatformat:2|intcomma }}
                    </td>
                </tr>
                {% endfor %}
                <tr class="bg-gray-800 text-white">
                    <th class="px-4 py-2 text-right" colspan="3">Current Balance</th>
                    <th class="px-4 py-2 text-left">
                        $ {{ account.balance|floatformat:2|intcomma }}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    const closeFlash = document.getElementById("close-flash");
    const flashMessage = document.getElementById("flash-message");
    if (closeFlash && flashMessage) {
        closeFlash.addEventListener("click", () => {
            flashMessage.style.display = "none";
        });
    }
</script>

{% endblock %}
